<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Увійти</title>
    <link rel="stylesheet" href="styles/mainstyle.css">
    <link rel="stylesheet" href="styles/formstyle.css">
</head>
<body>
    <div th:replace="~{navbar :: navbar}"></div>
    <h1>Логін</h1>
    <div th:if="${param.error}">
        Невірне ім'я користувача або пароль.
    </div>
    <div th:if="${param.logout}">
        Ви успішно вийшли.
    </div>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td class="label"><label for="username">Ім'я користувача:</label></td>
                <td><input type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td class="label"><label for="password">Пароль:</label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Увійти"></td>
            </tr>
        </table>
    </form> 
    
</body>
</html>